body {
    background-color: turquoise;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
}

div {
    background-color: white;
    border: 1px black solid;
    display: flex;
    justify-content: space-evenly;
    justify-items: space-evenly;
    padding: 10px;
}

form, section, button {
    background-color: grey;
    border: 1px black solid;
    padding: 10px;
}

.container {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
}

.results {
    border: 1px black solid;
    text-align: center;
}